veryfirstcocos/proj.android/assets/res/
veryfirstcocos/proj.android/obj/
veryfirstcocos/proj.win32/Debug/
veryfirstcocos/.metadata/
veryfirstcocos/proj.android/assets/
Productivity/CCSGUI_CodeGen/CCSGUI_CodeGen/obj/
Productivity/QxGen/obj/
Productivity/QxGenS/obj
