/.metadata
.metadata/
objs-debug/
obj/
bin/
libs/
gen/
veryfirstcocos/proj.android/assets/res/
veryfirstcocos/proj.android/obj/
veryfirstcocos/proj.win32/Debug/
veryfirstcocos/.metadata/
veryfirstcocos/proj.android/assets/
Productivity/CCSGUI_CodeGen/CCSGUI_CodeGen/obj/
Productivity/QxGen/obj/
Productivity/QxGenS/obj
Productivity/QxGenS/bin/Debug/backup/
Structure/ListTemplete/ListTempleteGUI/Backup/NormalCloseTag.xml
Structure/ListTemplete/ListTempleteGUI/Backup/20140722 230127/WidgetTest.json
Structure/ListTemplete/ListTempleteGUI/Backup/*
Productivity/QxGenS/QxGenS.v12.suo
