/.metadata
.metadata/
objs-debug/
obj/
bin/
libs/
gen/
veryfirstcocos/proj.android/assets/res/
veryfirstcocos/proj.android/obj/
veryfirstcocos/proj.win32/Debug/
veryfirstcocos/.metadata/
veryfirstcocos/proj.android/assets/
Productivity/CCSGUI_CodeGen/CCSGUI_CodeGen/obj/
Productivity/QxGen/obj/
Productivity/QxGenS/obj
Productivity/QxGenS/bin/Debug/backup/
Structure/ListTemplete/ListTempleteGUI/Backup/NormalCloseTag.xml
Structure/ListTemplete/ListTempleteGUI/Backup/20140722 230127/WidgetTest.json
Structure/ListTemplete/ListTempleteGUI/Backup/*
Productivity/QxGenS/QxGenS.v12.suo
Thumbs.db
/Animation/CocoStudioAnim/proj.android/gen
/Text/TextEffect/proj.android/gen
/Templete/proj.android/gen
/Storage/DeviceStorage/proj.android/gen
/Render/TextureSampling/proj.android/gen
/Event/Keyboard/proj.android/gen
/Productivity/QxGen/bin
/Text/TextEffect/proj.android/bin
/Productivity/DesignMark/DesignMark/bin
/Productivity/QxGenDemoArchive/QxGenS/bin
/Productivity/QxGenS/bin
/Misc/veryfirstcocos/proj.win32/Debug
/Misc/veryfirstcocos/.metadata
/Misc/veryfirstcocos/proj.android/obj/local/armeabi/objs-debug/cocos_extension_static/CocoStudio/Trigger/ObjectFactory.o
/Text/TextEffect/proj.android/obj
/Productivity/DesignMark/DesignMark/obj
/Productivity/QxGenDemoArchive/QxGenS/obj
/Productivity/QxGenS/obj
/Misc/veryfirstcocos/proj.android/obj/local/armeabi/objs-debug
/Misc/veryfirstcocos/proj.android/obj
/QuickExt/Object.lua
/Library/frameworkClone/cocos2dx/ObjectBinding.lua
/Resolution/FitScreenGUI_Solution/scripts/xd/cocos2dx/ObjectBinding.lua
/Misc/veryfirstcocos/proj.android/obj/local/armeabi/objs-debug/cocos_extension_static/CocoStudio/Trigger/ObjectFactory.o.d
