<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bWalk.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,294},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>beeBlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{66,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{66,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>beeBomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,124},{66,56}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{66,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>beeFighter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{66,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{66,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>beeMonk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{66,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{66,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>eball.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gpDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{56,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>gpMid.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,192},{56,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>gpUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,252},{56,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>guard.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,310},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>missile.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,288},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{128,352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49cc9a80644be761e5396a5ea0bc0b74:41d061156d1f7316ab1fcfb9a5199ff9:6e944191f15ab4e588a1ab6bcc3bd21e$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
